@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.purple {
  text-decoration: none;
  color: rgb(200, 120, 220);
  transition: 0.4s;
  padding: 1px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(250, 80%, 55%, 0.2);
  }
}

body {
  display: flex;
  place-items: center;
}

#app {
  display: grid;
  grid-template-rows: 1fr 8fr;
  place-items: center;
  align-items: flex-start;
  padding: 1rem 1rem;
}
